<div [ngClass]="{'tabs-row': !direction, 'tabs-column': direction}">
    <ng-container *ngIf="!isAdmin">
        <span>Home</span>

        <!-- user/gust page-->
        <ng-container *ngIf="isUser">
            <span>Doctor List</span>
        </ng-container>

        <!-- Doctor page -->
         <ng-container *ngIf="isDoctor">
             <span>Clinic List</span>
         </ng-container>

        <span>Report</span>
    </ng-container>

    <!-- Admin pages -->
     <ng-container *ngIf="isAdmin">
         <span>Dashboard</span>
         <span>Report List</span>
     </ng-container>
</div>