<div [ngClass]="{'tabs-row': !direction, 'tabs-column': direction}">
    <ng-container *ngIf="!isAdmin">
        <span routerLink="/">Home</span>

        <!-- user/gust page-->
        <ng-container *ngIf="isUser">
            <span routerLink="/doctorList">Doctor List</span>
        </ng-container>

        <!-- Doctor page -->
         <ng-container *ngIf="isDoctor">
             <span routerLink="/clinicList">Clinic List</span>
         </ng-container>

        <span routerLink="/report">Report</span>
    </ng-container>

    <!-- Admin pages -->
     <ng-container *ngIf="isAdmin">
         <span routerLink="/dashboard">Dashboard</span>
         <span routerLink="/reportList">Report List</span>
     </ng-container>
</div>