@import '../../../styles.scss';

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $white;
}

h1{
    font-size: $h1;
    text-align: center;
}

.signup{
    background-color: $primary;
}

mat-form-field{
    width: 100%;
    padding: 0 1em;
}

.signup-loading{
    background-color: gray;
}

.loading
{
    @include flex-center('row');
    width: 100%;
    padding: 35%;
}


.error{
    color: $error;
    font-size: $h5;
    text-align: center;
    padding: 1em;
    width: 100%;
    font-weight: bold;
}