<div class="list">
    <div class="row"> Clinic Table</div>
    <div class="row">
        <button mat-button class="add"  data-bs-toggle="modal" data-bs-target="#Clinic">Add</button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="Clinic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <app-clinicForm [editable]="true"/>
        </div>
        
        </div>
    </div>
    </div>
    