@import '../../../styles.scss';

.list{
    width: 100vw;
    height: 100vh;
    @include flex-center(column);
    justify-content: flex-start;
    gap: 1em;
}

.row{
    margin: 2em 4em;
}

.add{
    background-color: $green;
    color: $black;
}

.modal-content{
    background-image: url('../../../assets/icon/bg.jpg');
}

.title{
    color: $ligth-white;
    font-size: $h1;
}