<form [formGroup]="clinic" (ngSubmit)="handleClinic()" [ngStyle]="{'background-image': reservationPage || editable? 'url(../../../../assets/icon/bg.jpg)': ''}">
    <div class="logo">
        <span><img src="../../../../assets/icon/clinic.svg" width="180" height="120" alt="Logo"></span>
        <h1>Clinic Form</h1>
    </div>
    <div class="inputGroup">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Ex. Clinic Name">
            <mat-error *ngIf="clinic.get('name')?.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input type="tel" matInput formControlName="phone" placeholder="Ex. +91 1234567890">
            <mat-error *ngIf="clinic.get('phone')?.hasError('required')">
                Phone is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Area</mat-label>
            <input matInput formControlName="area" placeholder="Ex. Clinic Area">
            <mat-error *ngIf="clinic.get('area')?.hasError('required')">
                Address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <button type="submit" *ngIf="!editable && newElement" mat-button  [disabled]="!clinic.valid" [disableRipple]="loading" [ngClass]="{'submit': !loading, 'submit-loading': loading}">
        <ng-container *ngIf="!loading">
            <span>Submit</span>
        </ng-container>

        <ng-container *ngIf="loading">
            <span class="loading"><mat-spinner></mat-spinner></span>
        </ng-container>
    </button>

    <ng-container *ngIf="!loading && editable && !reservationPage">
        <div class="EditTools">
            <button type="button" mat-button class="cancel" (click)="handleCancel()">Reset</button>
            <button type="button" mat-button class="save" (click)="handleSave()">Save</button>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading && reservationPage">
        <div class="EditTools">
            <button type="button" mat-button class="edit" (click)="handleEdit()">Edit</button>
        </div>
    </ng-container>

    <ng-container *ngIf="isError">
        <div class="error" >
            {{error}}
        </div>
    </ng-container>
</form>
