<form [formGroup]="scheduleForm">
  <h1 class="title">Schedule</h1>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input  matInput  placeholder="Ex. 2022-01-01" formControlName="date" type="date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Time</mat-label>
    <input matInput placeholder="Ex. 08:00" formControlName="time" type="time">
  </mat-form-field>
  <div class="actionButton">
    <button class="submit" type="submit" mat-button (click)="handleSubmit()" [disabled]="!scheduleForm.valid">Add</button>
    <button class="reset" type="reset" mat-button (click)="handleReset()">Reset</button>
  </div>
</form>
