@import '../../../styles.scss';


.nameSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $ligth-white;
}

.nameSection mat-card-subtitle{
    color: $white;
}


mat-card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5em;
    padding-bottom: 0;
    color: $white;
}

mat-card{
    margin: 3.5em;
    background-color: $secondary;
    color: $white;
    max-width: 25em;
    text-align: center;
}

mat-card-content{
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    // padding: 1em;
    margin: 1em;
    min-width: 25em;
    flex-direction: column;
    align-items: center;
    color: $white;
}

mat-list{
    display: flex;
    flex-direction: row;
    min-width: 25em;
    // padding: 1em;
    color: $white;
    // overflow: scroll;
    // max-width: 25em;
    // scroll-snap-align: center;
    // scroll-snap-type: mandatory;
}

mat-list-item{
    color: $white;
    // padding: 3.5em 3em;
    // overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 6em;
}

img{
    width: 9em;
    height: 9em;
}

mat-list-item *{
    color: $ligth-white;
}

mat-card-actions{
    @include flex-center(row);
    margin-bottom: 1em;
}

.viewbtn{
    background-color: $primary;
}
