<div class="home">
  <section class="titleSection">
    <h1 class="title">Welcome To Wecare</h1>
  </section>
  <section class="imageSection">
    <img alt="dotorsImage" src="../../../assets/icon/homecovernewen4-eg-en.jpg">
  </section>
  <div class="services">
    <h2 class="subtitle">Services</h2>
    <section class="serviceSection">
      <div>
        <img alt="calenderLogo" src="../../../assets/icon/booking-icon.svg" width="100" >
      </div>
      <div>
        <h3>Your booking is confirmed</h3>
        <p>Your booking is automatically confirmed, as the doctor specifies his working hours and is notified of the booking details.</p>
      </div>
      <hr/>
    </section>
    <section class="serviceSection">
      <div>
        <img alt="calenderLogo" src="../../../assets/icon/medical-care-icon.svg" width="100">
      </div>
      <div>
        <h3>All your healthcare needs</h3>
        <p>Search and book a clinic visit, home visit, or a teleconsultation. Order your medicine and book a service or operation.</p>
      </div>
    </section>
    <hr/>
  </div>
  <div class="contact">
    <h2 class="subtitle">Contacts</h2>
    <section class="contactSection">
      <div>
        Email: support&#64;Wecare.com
      </div>
      <div>
        Phone: 123213141
      </div>
    </section>
  </div>
</div>>
