@import '../../../styles.scss';

mat-toolbar{
    background-color: $primary;
}

.navBar{
    @include flex-center('row');
    width: 100%;

}

.icon
{
    display: flex;
    padding-left: 2.5em;
    flex-grow: 1;
    align-items: center;
    gap: 1.2em;
}

.modal-overlay{
  max-height: 100vh !important;
  // overflow: scroll;
}
.modal-overlay .modal-content{
  background-image: none;
}
.modal-content{
    background-image: url('../../../assets/icon/bg.jpg');
}

.action
{
    display: flex;
    justify-content: flex-end;
    padding-right: 2.5em;
    flex-grow: 1;
}
.profile{
    display: flex;
    align-items: center;
    width: 2.5em;
}
mat-icon{
    transform: scale(1.8);
    transition: all .2s ease-in;
}

mat-icon:hover{
    color: $secondary;
    transform: scale(1.6);
}
.signin
{
    background-color: $secondary;
    font-size: $button;
    transition: background-color ,transform .3s ease-in ;
    margin: 0 1em;
}

span .signin{
    color: $white;
}

.signin:hover{
    transform: scale(.9);
}
.logout
{
    background-color: $error;
    font-size: $button;
    transition: background-color ,transform .3s ease-in ;
    margin: 0 1em;
}

span .logout{
    color: $ligth-white;
}

.logout:hover{
    transform: scale(.9);
}



.signup
{
    margin: 0 1em;
    font-size: $button;
    background-color: transparent;
    border: 1px solid $secondary;
    transition: background-color ,transform .3s ease-in ;
}

.signup:hover
{
    background-color: $secondary;
    transform: scale(.9);
}

span .signup:hover{
    color: $white;
}

.sideMenu
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sideMenu button{
  width: 100%;
  text-align: center;
  margin: 0.2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideMenu span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideMenu button mat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.8) translateX(0.2em);
  &:hover{
    transform: scale(1.6)  translateX(0.2em);
  }
}
