<mat-toolbar>
    <footer>
        <div class="icon">
            <img src="../../../assets/icon/logo-dm.svg">
            <span>Wecare</span>
        </div>
        <div class="sitemap">
            <h3>Site Map</h3>
            <app-tabs [direction]="true"></app-tabs>
            
        </div>
        <div class="social">
            <div>
                <img src="../../../assets/icon/facebook.svg">
                <span>Facebook</span>
            </div>
            <div>
                <img src="../../../assets/icon/twitter-x.svg">
                <span>Twitter</span>
            </div>
            <div>
                <img src="../../../assets/icon/threads.svg">
                <span>Threads</span>
            </div>
            <div>
                <span>Doctor Signup</span>
                <span><button mat-button class="signup"  data-bs-toggle="modal" data-bs-target="#dSignup">Sign up</button></span>
            </div>
        </div>
    </footer>
    <hr>
    <div class="copyright">
        ©CopyRight 2025
    </div>
</mat-toolbar>


<!-- Modal -->
<div class="modal fade" id="dSignup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <app-sginup [doctor]="true"/>
        </div>
        
        </div>
    </div>
    </div>  