@import '../../../styles.scss';

.List{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 0.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.search{
    margin-top: 10em;
    width: 100%;
}
