@import '../../../styles.scss';

mat-header-cell.mat-mdc-header-cell, mat-cell
{
    width: 21em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

mat-header-cell.mat-mdc-header-cell{
    background-color: $secondary;
    color: $ligth-white;
    font-size: $h5;
}

::ng-deep .mat-sort-header-arrow{
    color: $ligth-white !important;
}
mat-row:hover{
    cursor: pointer;
    background-color: lightblue;
}

.dataTable{
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
}