<div class="dataTable">
    <ng-container *ngIf="isLoading; else dTable">
        <mat-spinner></mat-spinner>
    </ng-container>

    <ng-template #dTable>
        <mat-table [dataSource]="datasource" matSort>
        
            <!-- Dynamic column definitions -->
            <ng-container *ngFor="let label of labels" [matColumnDef]="label">
                <mat-header-cell *matHeaderCellDef mat-sort-header="{{label}}"> {{ label }} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="label">
                        <button *ngSwitchCase="'action'" mat-raised-button [ngStyle]="{
                            'background-color': 
                                action?.actionType == 'Edit' ? 'yellow' 
                            :   action?.actionType == 'Delete' ? 'red' 
                            :   action?.actionType == 'Checkin' ? 'green' : ''
                            ,
                            'color': 
                                action?.actionType == 'Edit' ? 'black' : 'white'
                                }" (click)="action?.actionCallBack(row['id'])">{{ action?.actionType }}</button>

                        <ng-container *ngSwitchDefault>{{row[label]}}</ng-container>
                    </ng-container>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="labels; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: labels;"></mat-row>
        </mat-table>
    </ng-template>
</div>
