<div class="dataTable">
    <ng-container *ngIf="isLoading; else dTable">
        <mat-spinner></mat-spinner>
    </ng-container>

    <ng-template #dTable>
        <mat-table [dataSource]="datasource" matSort>
        
            <!-- Dynamic column definitions -->
            <ng-container *ngFor="let label of labels" [matColumnDef]="label">
                <mat-header-cell *matHeaderCellDef mat-sort-header="{{label}}"> {{ label }} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="label">
                        <ng-container *ngIf="action && action?.actionCallBack?.length != 0 ">
                                <ng-container *ngSwitchCase="'action'">
                                <ng-container *ngIf="!action.actionType.includes('/'); else viewBlock">

                                    <button  mat-raised-button [ngStyle]="{
                                        'background-color': 
                                            action.actionType == 'Edit' ? 'yellow' 
                                        :   action.actionType == 'Delete' ? 'red' 
                                        :   action.actionType == 'Checkin' ? 'green' : ''
                                        ,
                                        'color': 
                                            action.actionType == 'Edit' ? 'black' : 'white'
                                            }" (click)="action.actionCallBack[0](row['id'])">{{ action.actionType }}</button>
                                </ng-container>
                                <ng-template #viewBlock>
                                    <button mat-raised-button [ngStyle]="{
                                        'background-color': 
                                            action.actionType.split('/')[0] == 'View' ? 'green' 
                                        :   action.actionType.split('/')[0] == 'Edit' ? 'yellow' 
                                        :   action.actionType.split('/')[0] == 'Delete' ? 'red' 
                                        :   action.actionType.split('/')[0] == 'Checkin' ? 'green' : ''
                                        ,
                                        'color': 
                                            action.actionType.split('/')[0] == 'View' ? 'white' : 'black'
                                            }" (click)="action.actionCallBack[0](row['id'])">{{ action.actionType.split('/')[0] }}</button>
                                    <button mat-raised-button [ngStyle]="{
                                        'background-color': 
                                            action.actionType.split('/')[1] == 'View' ? 'green' 
                                        :   action.actionType.split('/')[1] == 'Edit' ? 'yellow' 
                                        :   action.actionType.split('/')[1] == 'Delete' ? 'red' 
                                        :   action.actionType.split('/')[1] == 'Checkin' ? 'green' : ''
                                        ,
                                        'color': 
                                            action.actionType.split('/')[1] == 'View' ? 'white' : 'black'
                                            }" (click)="action.actionCallBack[1](row['id'])">{{ action.actionType.split('/')[1] }}</button>
                                </ng-template>
                                </ng-container>
                            </ng-container>
                            

                        <ng-container *ngSwitchDefault>{{row[label]}}</ng-container>
                    </ng-container>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="labels; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: labels;"></mat-row>
        </mat-table>
    </ng-template>
</div>
