<div class="reservationComponent">
  <app-reservationCard [inList]="false" [doctorData]="doctor"/>
  <div class="schudle">
  <ng-container  *ngIf="data?.length == 0 || !data; else schudleBlock">
    <h1 class="alert alert-danger" role="alert" >No Reservations</h1>
  </ng-container>
  <ng-template #schudleBlock>
      <app-dataTable [labels]="labels" [data]="data" [action]="action"/>
    </ng-template>
  </div>
</div>


<button id="reservebtnform" data-bs-toggle="modal" data-bs-target="#reserveForm" hidden>reserve</button>
<!-- Modal -->
<div class="modal fade" id="reserveForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <app-reservation-form/>
        </div>

        </div>
    </div>
    </div>

