<div class="dashboard-container">
    <div class="l-col d-flex justify-content-center flex-column align-items-center gap-5">
        <canvas  id="barChart" baseChart [datasets]="barChartData" [type]="'bar'" [labels]="barLabels" width="600" height="400"></canvas>
        <span class="tool-kit">Reservations per Day</span>
    </div>

    <div class="r-col d-flex justify-content-center flex-column align-items-center gap-5">
        <canvas id="pieChart" baseChart [datasets]="pieChartData" [type]="'pie'" [labels]="pieLabels" width="300" height="300"></canvas>
        <span class="tool-kit">Users vs Doctors</span>
    </div>
</div>